
@{
    ViewData["Title"] = "DepartmentReport";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

<div class="recent-orders-wrapper">
    <h3>MIS Report Department wise</h3>
    <div class="date-wrapper">
        <div class="inputs">
           @*  <div class="client">
                <label for="Order-ID">Department Name</label>
                <input type="text" class="form-date" >
            </div> *@

            <div class="from">
                <label for="from-date">From Date</label>
                <input type="date" class="form-date" id="txtfromdate">
            </div>
            <div class="upto">
                <label for="upto-date">Upto Date</label>
                <input type="date" class="form-date" id="txttodate">
            </div>
            <div class="Report">
                <form class="flex" role="search">
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                    <button class="btn btn-outline-primary" type="button" onclick="getrecord()">Search</button>
                    <button class="btn btn-outline-primary" type="button" onclick="export_pdf()">Export To PDF</button>
                    <button class="btn btn-outline-primary" type="button" onclick="export_excel();">Export To Excel</button>
                </form>

            </div>
            <div style="margin-top: 3%;">
                
            </div>
        </div>
    </div>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Department</th>
                <th>Product</th>
                <th>Category</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Order Placed Time</th>
                <th>Dispatch</th>
                <th>Payment Method</th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.orderid</td>
                        <td>@item.department</td>
                        <td>@item.Description</td>
                        <td>@item.Category</td>
                        <td>@item.Rate</td>
                        <td>@item.qty</td>
                        <td>@item.orderdate</td>
                        <th></th>
                        <th></th>
                    </tr>

                }
            }
        </tbody>

    </table>


</div>
<hr>

<script>
    function export_excel() {
        $.get("../Supplier/ExportToExcel_department", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'DepartmentWiseReport.xlsx'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }
    function getrecord() {
        window.location.href = "../Supplier/DepartmentReport?f=" + $("#txtfromdate").val() + "&t=" + $("#txttodate").val() + "&o=" + $("#txtorder").val() + ""
    }

    function export_pdf() {
        $.get("../Supplier/ExportPdf_Department", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/pdf'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'DepartmentWiseReport.pdf'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }
</script>