
@{
    ViewData["Title"] = "OrderwiseReport";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}
<div class="recent-orders-wrapper">
    <h3>MIS Report Order wise</h3>
    <div class="date-wrapper">
        <div class="inputs">
          @*   <div class="client">
                <label for="Order-ID">Order ID</label>
                <input type="text" class="form-date">
            </div> *@

            <div class="from">
                <label for="from-date">From Date</label>
                <input type="date" class="form-date" name="f" id="txtfromdate">
            </div>
            <div class="upto">
                <label for="upto-date">Upto Date</label>
                <input type="date" class="form-date" name="t" id="txttodate">
            </div>


            <div class="Report">
                
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-outline-primary" type="submit" onclick="getrecord()">Search</button>
                <button class="btn btn-outline-primary" type="submit" onclick="export_pdf()">Export To PDF</button>
                <button class="btn btn-outline-primary" type="button" onclick="export_excel();">Export To Excel</button>
               

            </div>
            <div style="margin-top: 3.5%;">
                
            </div>



        </div>
    </div>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Order Placed Time</th>
                <th>Dispatch</th>
                <th>Payment Method</th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.orderid</td>
                        <td>@item.orderdate</td>
                        <td>@item.amount</td>
                        <td>@item.qty</td>
                        <td></td>
                        <td>@item.approvstatus</td>
                        <td></td>
                    </tr>

                }
            }

        </tbody>

    </table>


</div>
<hr>
<script>
    function export_excel() {
        $.get("../Supplier/ExportToExcel_order", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'OrderWiseReport.xlsx'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }

    function getrecord() {
        window.location.href = "../Supplier/OrderwiseReport?f=" + $("#txtfromdate").val() + "&t=" + $("#txttodate").val() + "&o=" + $("#txtorder").val() + ""
    }
    function export_pdf() {
        $.get("../Supplier/ExportPdf_product", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/pdf'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'OrderWiseReport.pdf'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }
</script>
