
@{
    ViewData["Title"] = "ReleaseOrder";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Release Orders</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>From Date</label>
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>To Date</label>
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label></label>
                                <button type="button" class="btn btn-warning btn-sm" style="margin-top: 39%;">Search</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label></label>

                                <button type="button" class="btn btn-success btn-sm" style="margin-top: 16%;">Export Excel</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-datatable table-responsive pt-0">
                                <table class="datatables-basic table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Order Id</th>
                                            <th>Quantity</th>
                                            <th>Department</th>
                                            <th>Order Status</th>
                                            <th>Rate</th>
                                            <th>Delivery Date</th>
                                            <th>Approve Order</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.orderid</td>
                                                    <td>@item.qty</td>
                                                    <td>@item.department</td>
                                                    <td>@item.approvstatus</td>
                                                    <td>@item.amount</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td> <a href="../Supplier/vieworder?id=@item.id" class="btn btn-warning"><i class="fas fa-eye"></i></a></td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

