
@{
    ViewData["Title"] = "Stationary";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

<div class="recent-orders-wrapper">
    <h3>Stationary Products</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th style="width:10%!important">Image</th>
                <th>Product Description</th>
                <th>Category</th>
                <th>Make</th>
                <th>Unit</th>
                <!-- <th>Quantity</th> -->
                <th>Stock</th>
                <th>Rate</th>
                <th>GST(%)</th>
                <th>Action</th>
                <!-- <th>Level 1</th>
                <th>Level 2</th>
                <th>Dispatch</th>    -->
            </tr>
        </thead>
        
        <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td><img src="../uploads/@item.ImageUrl" style="width:40%" /></td>
                            <td>@item.Description</td>
                            <td>@item.Category</td>
                            <td>@item.Make</td>
                            <td>@item.Unit</td>
                            <td>@item.stock</td>
                            <td>@item.Rate</td>
                            <td>@item.gst</td>
                        <td><button type="button" class="btn btn-primary" onclick="open_pop(@item.id,'@item.Description')"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        </tr>

                    }
                }

        </tbody>
            
    </table>
</div>
<hr>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Stock</h5>
               
            </div>
            <form method="post" action="updatestock">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Name: <span id="txtpname"></span></label>
                           <input type="hidden" id="hdnid" name="pid"/>
                                <input type="hidden" name="i" value="0" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Stock Type</label>
                            <select class="form-control" name="type">
                                <option value="1">Add</option>
                                <option value="2">Minus</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Qty</label>
                            <input type="text" class="form-control" name="qty"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="close_pop()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>
@section scripts1 {
    <script>
        function open_pop(id,name) {
            $("#hdnid").val(id);
            $("#txtpname").text(name);
            $("#exampleModal").modal('show');

        }
        function close_pop() {
            $("#hdnid").val("0");
            $("#txtpname").text("");
            $("#exampleModal").modal('hide');

        }
    </script>
}