
@{
    ViewData["Title"] = "UnproceedOrder";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Unproceed Orders</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>From Date</label>
                                <input type="date" class="form-control" id="txtfromdate" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>To Date</label>
                                <input type="date" class="form-control" id="txttodate" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label></label>
                                <button type="button" class="btn btn-warning btn-sm" style="margin-top: 39%;" onclick="getrecord()">Search</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label></label>
                                <button type="button" class="btn btn-success btn-sm" style="margin-top: 7%;" onclick="export_excel()">Export Excel</button>
                                <button type="button" class="btn btn-primary btn-sm" style="margin-top: 7%;" onclick="export_pdf()">Export PDF</button>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-datatable table-responsive pt-0">
                                <table class="datatables-basic table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Order Id</th>
                                            <th>Quantity</th>
                                            <th>Department</th>
                                            <th>Order Status</th>
                                            <th>Rate</th>
                                            <th>Ordered Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td><a href="../Supplier/vieworder?id=@item.id"></a>@item.orderid</td>
                                                    <td>@item.qty</td>
                                                    <td>@item.department</td>
                                                    <td>@item.approvstatus</td>
                                                    <td>@item.amount</td>
                                                    <td>@item.orderdate</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>

</div>
<script>
    function export_excel() {
        $.get("../Supplier/ExportToExcel_UnproceedOrder?f=" + $("#txtfromdate").val() + "&t=" + $("#txttodate").val() + "", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'UnproceedOrder.xlsx'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }

    function getrecord() {
        window.location.href = "../Supplier/UnproceedOrder?f=" + $("#txtfromdate").val() + "&t=" + $("#txttodate").val() + "&o=" + $("#txtorder").val() + ""
    }

    function export_pdf() {
        $.get("../Supplier/ExportPdf_UnproceedOrder?f=" + $("#txtfromdate").val() + "&t=" + $("#txttodate").val() + "", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/pdf'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'UnproceedOrder.pdf'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }
</script>

