
@{
    ViewData["Title"] = "UploadPrinting";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

<div class="run-time-order-file-upload">
    <h3>Upload Printing Product</h3>
    <form method="post" action="#" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.productModel.id"/>
    <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="clientid">
            <option value="0">---Select Client---</option>
            @foreach (var item in Model.Client_Model)
            {
                    if (Model.productModel.clientid == item.Id)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {

                        <option value="@item.Id">@item.Name</option>
                    }

            }
        </select>
       
    </div>
    <br>
    <div class="form-floating">
            <input type="text" class="form-control" id="floatingtext" placeholder="Particulars" name="desc" value="@Model.productModel.Description"/>
       
    </div>
    <br>
    <div class="form-floating">
            <input type="text" class="form-control" id="floatingtext" placeholder="Size" name="size" value="@Model.productModel.size">
        
    </div>

    @* <div class="mb-5">
        <label for="formFile" class="form-label">Choose file or drop here</label>
        <input class="form-control" type="file" id="formFile">
    </div>
 *@
    <button type="submit" class="col-md-12" id="run-time-order-submit-btn">Upload Product</button>
    </form>
</div>

