
@{
    ViewData["Title"] = "OrderReport";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', 'sans-serif';
        font-size: 17px;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: whitesmoke;
    }

    .header {
        width: 100%;
        background-color: white;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;
    }

    .bell {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;
        border-radius: 3px;
        margin: 5px;
    }

    .user-wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

        .user-wrapper img {
            border-radius: 50%;
            margin-right: 1rem;
        }

    #search-form {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 5px;
        width: 50%;
        margin-left: 50%;
    }

    .form-control me-2 {
        outline: none;
    }

    .search-here {
        width: 50%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 30px;
    }

    .nav-link {
        color: black;
    }

    .dropdown-item {
        background-color: cornsilk;
    }

    .icons-wrapper {
        display: ruby;
    }

    .Details {
        display: flex;
        justify-content: center;
    }

    .date-wrapper {
        width: 100%;
        padding: 10px 20px 10px 20px;
    }

    .inputs {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 25px;
    }

    .form-date {
        width: 80%;
        height: 40px;
        background-color: #ffffff;
        padding: 2px 5px 2px 5px;
    }

    .search {
        margin-top: 25px;
    }

    .Client-name-wrapper {
        width: 88%;
        height: 42px;
        margin-top: 25px;
    }

    .client {
        width: 25%;
    }
</style>
<!-------------------------------Navigation----------------------------------------------------- -->
<div class="date-wrapper">
    <div class="inputs">
        <div class="client">
            <label for="Client-Name">Client Name</label>
            <input type="text" class="form-date">
        </div>

        <div class="from">
            <label for="from-date">From Date</label>
            <input type="date" class="form-date">
        </div>
        <div class="upto">
            <label for="upto-date">Upto Date</label>
            <input type="date" class="form-date">
        </div>
        <div class="search">
            <form class="flex" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-outline-primary" type="submit">Search</button>
                <button class="btn btn-outline-primary" type="button" onclick="export_pdf()">Export To PDF</button>
                <button class="btn btn-outline-primary" type="button" onclick="export_excel()">Export To Excel</button>
            </form>

        </div>
    </div>
</div>
<br>










<!---------------------- MIS REPORT WITH GST table----------------------------------------------------- -->
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3> MIS Report Default Wise</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-border">
                        <thead>
                            <tr>
                                
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Category</th>
                                
                                @* <th>GST%</th> *@
                                <th>Status</th>
                                @* <th>Total MRP</th> *@
                                <th>Approved Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @* <td>@item.branchname</td>
                                    <td>@item.branchname</td> *@
                                    <td><a href="../User/ViewOrder?id=@item.id">@item.orderid</a></td>
                                    <td>@item.orderdate</td>
                                    <td>@item.category</td>
                                    @* <td>18</td> *@
                                    
                                    <td>@item.status_name</td>
                                   @*  <td>@item.total_amount</td> *@
                                    <td></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------- MIS REPORT WITH GST table----------------------------------------------------- -->
<script>
    function export_excel() {
        $.get("../user/ExportToExcel_order", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'OrderWiseReport.xlsx'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }

    function export_pdf() {
        $.get("../user/ExportPdf_order", function (res) {

            var binaryData = atob(res.data);

            const blob = new Blob([new Uint8Array(binaryData.length).map((_, index) => binaryData.charCodeAt(index))], {
                type: 'application/pdf'
            });

            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element to trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'OrderWiseReport.pdf'; // Set the desired file name
            a.click();

            // Revoke the object URL to free up resources
            window.URL.revokeObjectURL(url);
        })

    }
</script>
