
@{
    ViewData["Title"] = "View Challan";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3>View Challan</h3>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" onclick="update_challan(@Model.order_List_Model.id);"><i class="ri-check-line"></i> Approve Challan</button>
                    </div>
                </div>
            </div>
            <div class="card-body"> 
                <div class="row" style="padding: 13px;background-color: orange;border-radius: 8px; color: white;">
                    <div class="col-md-3">
                        <span><b>Company Name:</b> @Model.shipping.name </span>
                    </div>
                    <div class="col-md-3">
                        <span><b>AWB No:</b> @Model.shipping.AWBno </span>
                    </div>
                     <div class="col-md-3">
                        <span><b>Mode:</b> @Model.shipping.mode </span>
                    </div>
                    <div class="col-md-3">
                        @{
                            if (Model.shipping.file_path != "")
                            {
                                <a href="../uploads/@Model.shipping.file_path" class="btn btn-primary" target="_blank">View</a>
                            
                            }
                        }
                    </div>
                </div>
                <br/>
                <div class="table table-responsive">
                   
                        <table class="table table-striped">
     <thead>
         <tr>
            
             <th style="width:10%">Images</th>
             <th>Product Name</th>
             <th>Product Category</th>
             <th>Quantity</th>
             <th>Rate</th>
             <th>Remark</th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         @foreach (var item in Model.order_list)
         {
             <tr>
                 
                 <td><img src="../Uploads/@item.ImageUrl" alt="" id="Overviewimg" style="width:50%"></td>

                 <td>@item.Description</td>
                 <td>@item.category</td>
                 <td>@if (@item.updated_qty == "0")
                     {
                         @item.qty
                     }
                     else
                     {
                         @item.updated_qty
                     }</td>
                 <td>@item.rate</td>
                  <td><input type="text" class="form-control" id="remark_@item.id" value="@item.remark"/></td>
                                    <td>
                                        @{
                                            if (item.remark != null)
                                            {
                                                if (item.is_reject == 1)
                                                {
                                                        <span>Reject</span>
                                                }
                                                else
                                                {

                                                        <span>Approved</span>
                                                }
                                            }
                                            else
                                            {

                                            <button class="btn btn-primary" onclick="reject_challan(@item.id,0)"><i class="ri-check-line"></i></button>
                                                    <span>|</span> <button class="btn btn-danger" onclick="reject_challan(@item.id,1)"><i class="ri-delete-bin-line"></i></button>

                                            }
                                        }
                                        </td>
             </tr>
         }
     </tbody>
 </table>
 
                </div>
                
            </div>
        </div>
    </div>
</div>



@section Scripts1{
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        $(document).ready(function () {
            $("#hdnid").val(getUrlVars()["id"]);
        });

        function reject_challan(id,staus)
        {
            $.get('../User/single_reject_challan?id=' + id + '&status=' + staus + '&remark=' + $("#remark_" + id + "").val() + '', function (data) {
                if (staus == 0) {
                    success_opup("Success", "Item Approve Successfully")
                    setTimeout(
                        function () {
                            location.reload();
                        }, 3000);
                    
                }
                else {
                    success_opup("Success", "Item Reject Successfully")
                    setTimeout(
                        function () {
                            location.reload();
                        }, 3000);
                }
            })
        }

        function update_challan(id) {
            $.getJSON('../User/get_challan_count?id=' + id + '', function (data) {
                if (data.reject_count == data.total_count) {
                    $.get('../User/All_challan_update?id=' + id + '&status=1&remark=test', function (data) {

                        success_opup("Success", "Challan Reject Successfully");
                        setTimeout(
                            function () {
                                location.reload();
                            }, 3000);
                    })
                }
                else if (data.sucess_count == data.total_count) {
                    $.get('../User/All_challan_update?id=' + id + '&status=0&remark=test', function (data) {
                       
                        success_opup("Success", "Challan Approve Successfully");
                        setTimeout(
                            function () {
                                location.reload();
                            }, 3000);
                        
                    })
                }
                else {
                    $.get('../User/All_challan_update?id=' + id + '&status=2&remark=test', function (data) {

                        success_opup("Success", "Challan Update Successfully");
                        setTimeout(
                            function () {
                                location.reload();
                            }, 3000);

                    })
                }
            })
        }
    </script>
}