@model OTS.Data.Models.combomodel
@{
    ViewData["Title"] = "Master";
    Layout = "~/Views/Shared/client_layout.cshtml";
}

<div class="run-time-order">
    <h3 class="mb-3">Masters</h3>
    <div class="container mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item col-md-4">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cost Center</a>
            </li>
            <li class="nav-item col-md-4">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="../Supplier/Department" role="tab" aria-controls="profile" aria-selected="false">Department</a>
            </li>
            <li class="nav-item col-md-4">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="../Supplier/branch" role="tab" aria-controls="contact" aria-selected="false">Branch</a>
            </li>
        </ul>

        <div class="tab-content mt-3" id="myTabContent">
            <!-- Cost Center Tab -->
            <div class="tab-pane fade show active" id="home" role="tabpanel">
                <div class="masters-wrapper">
                    <form method="post" action="../Masters/CostCenter">
                        <input type="hidden" value="@Model.costCenterModel.Id" name="Id" />
                        <div class="mb-3">
                            <label for="costCenterInput" class="form-label">
                                <i class="fa-solid fa-tags"></i> Cost Center Name
                            </label>
                            <input type="text" class="form-control" id="costCenterInput"
                                   placeholder="Cost Center Name" name="Name"
                                   value="@Model.costCenterModel.Name" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div class="master-wrapper-second mt-4">
                    <h3>All Cost Center List</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cost Center ID</th>
                                <th>Cost Center Name</th>
                                <th>Created Date</th>
                                <th>Created User ID</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.costCenters)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.createdon</td>
                                    <td>@item.createdby</td>
                                    <td>
                                        <a class="btn btn-primary" href="../Supplier/Master?id=@item.Id&t=C">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a> |
                                        <button class="btn btn-danger" onclick="delete_data(@item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Department Tab -->
            <div class="tab-pane fade" id="profile" role="tabpanel">
                <div class="masters-wrapper">
                    <form method="post" action="../Masters/Department">
                        <input type="hidden" value="@Model.departmentModel.Id" name="Id" />
                        <div class="mb-3">
                            <label for="departmentInput" class="form-label">
                                <i class="fa-solid fa-building"></i> Add Department
                            </label>
                            <input type="text" class="form-control" id="departmentInput"
                                   placeholder="Add Department" name="Name"
                                   value="@Model.departmentModel.Name" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div class="master-wrapper-second mt-4">
                    <h3>All Department List</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Department ID</th>
                                <th>Department Name</th>
                                <th>Created Date</th>
                                <th>Created User ID</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.departmentModels)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.createdon</td>
                                    <td>@item.createdby</td>
                                    <td>
                                        <a href="../Supplier/Master?id=@item.Id&t=D" class="btn btn-primary">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a> |
                                        <button class="btn btn-danger" onclick="delete_depart(@item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Branch Tab -->
            <div class="tab-pane fade" id="contact" role="tabpanel">
                <div class="masters-wrapper">
                    <form method="post" action="../Masters/Branch">
                        <input type="hidden" value="@Model.branchModel.Id" name="Id" />
                        <div class="mb-3">
                            <label for="branchInput" class="form-label">
                                <i class="fa-solid fa-city"></i> Add Branch
                            </label>
                            <input type="text" class="form-control" id="branchInput"
                                   placeholder="Add Branch" name="Name"
                                   value="@Model.branchModel.Name" />
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div class="master-wrapper-second mt-4">
                    <h3>All Branch List</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Branch ID</th>
                                <th>Branch Name</th>
                                <th>Created Date</th>
                                <th>Created User ID</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.branchModels)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.createdon</td>
                                    <td>@item.createdby</td>
                                    <td>
                                        <a class="btn btn-primary" href="../Supplier/Master?id=@item.Id&t=B">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a> |
                                        <button class="btn btn-danger" onclick="delete_branch(@item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts1 {
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Activate correct tab based on query string
            var type = getUrlVars()["t"];
            if (type === "D") {
                activateTab("profile");
            } else if (type === "B") {
                activateTab("contact");
            } else {
                activateTab("home");
            }
        });

        function getUrlVars() {
            var vars = {}, hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function activateTab(tabId) {
            $(".nav-link").removeClass("active");
            $(".tab-pane").removeClass("show active");
            $("#" + tabId).addClass("show active"); // Show content
            $("a[href='#" + tabId + "']").addClass("active"); // Highlight tab button
        }

        function delete_data(id) {
            $.get('../Masters/Delete_costcenter?id=' + id, function (response) {
                if (response === "Record Deleted Successfully") {
                    location.reload();
                }
            });
        }

        function delete_depart(id) {
            $.get('../Masters/Delete_department?id=' + id, function (response) {
                if (response === "Record Deleted Successfully") {
                    location.reload();
                }
            });
        }

        function delete_branch(id) {
            $.get('../Masters/Delete_branch?id=' + id, function (response) {
                if (response === "Record Deleted Successfully") {
                    location.reload();
                }
            });
        }
    </script>
}
